<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1><b>Mission to Mars</b></h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>

    <h2>Latest Mars News</h2>
    <h4><b>{{ mars_data.news_title }}</b></h4>
    <h5><b>{{ mars_data.news_p }}</b></h5>

    <h2>Featured Mars Image</h2>
    <h4><b>{{ mars_data.featured_image_url }}</b></h4>

    <h2>Mars Facts</h2>
    <h4><b>{{ mars_data.df_tables_html }}</b></h4>

  </div>
  
  </div>
</body>

</html>
